/node_modules/
/sherpa-onnx/model/sherpa-onnx-streaming-zipformer-bilingual-zh-en-2023-02-20/
/sherpa-onnx/model/sherpa-onnx-streaming-zipformer-multi-zh-hans-2023-12-12/
/sherpa-onnx/model/silero_vad.onnx
